<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="datatable_styles" th:remove="tag">
<link rel="stylesheet" th:href="@{~/webjars/bootstrap/css/bootstrap.min.css} "/>
<!--<link rel="stylesheet" th:href="@{~/webjars/datatables/css/jquery.dataTables.min.css} "/>-->
<link rel="stylesheet" th:href="@{~/webjars/datatables/css/dataTables.bootstrap4.min.css} "/>
<!--
<link rel="stylesheet" th:href="@{~/webjars/datatables-responsive/css/responsive.dataTables.min.css} "/>
<link rel="stylesheet" th:href="@{~/webjars/datatables-responsive/css/responsive.bootstrap4.min.css} "/>
<link rel="stylesheet" th:href="@{~/webjars/datatables-select/css/select.dataTables.min.css} "/>
<link rel="stylesheet" th:href="@{~/webjars/datatables-select/css/select.bootstrap4.min.css} "/>
-->
</div>

<div th:fragment="datatable_scripts" th:remove="tag">
<script th:src="@{~/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{~/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{~/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{~/webjars/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{~/webjars/datatables/js/dataTables.dataTables.min.js}"></script>
<script th:src="@{~/webjars/datatables/js/dataTables.bootstrap4.min.js}"></script>
<!--
<script th:src="@{~/webjars/datatables-responsive/js/dataTables.responsive.min.js}"></script>
<script th:src="@{~/webjars/datatables-responsive/js/responsive.dataTables.min.js}"></script>
<script th:src="@{~/webjars/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
<script th:src="@{~/webjars/datatables-select/js/dataTables.select.min.js}"></script>
<script th:src="@{~/webjars/datatables-select/js/select.dataTables.min.js}"></script>
<script th:src="@{~/webjars/datatables-select/js/select.bootstrap4.min.js}"></script>
-->
</div>

<table th:fragment="datatable_head" th:remove="tag">
    <thead>
    <tr>
        <th th:each="column : ${dataTable.columns}"><span th:text="${dataTable.getColumnLabel( column )}" th:remove="tag">#Column#</span></th>
    </tr>
    </thead>
</table>
</html>